doctype html
html(lang="en")
  head
  title= MemeHome
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  h1= title

  //form
  form(id= 'newMeme')
    input(type="text" name="url" placeholder="List url")
    input(type="text" name="id" placeholder="Add id #")
    button(type="submit") Submit new meme

    //div
    #memes
    for elem in memes
      img(src=elem.url id=elem.id)